### 安装tushare
- 参考官网：https://tushare.pro/document/1
- pip install tushare，需要的依赖全部自动安装

## 注册
链接：https://tushare.pro/register?reg=353020

In [34]:
import warnings
warnings.filterwarnings("ignore")

import tushare as ts
print(tushare.__version__)

1.2.51

### 这个是token

In [35]:
token = 'f51bc1209389d9ba0d671689478db838d0e903f3c45e3734438612e9'

设置好token

In [36]:
ts.set_token(token)

In [37]:
pro = ts.pro_api()

### 获取指数

In [23]:
pro.index_basic(market = 'SSE').head()

,ts_code,name,market,publisher,category,base_date,base_point,list_date
0,000001.SH,上证综指,SSE,中证公司,综合指数,19901219,100.00,19910715
1,000002.SH,上证A指,SSE,中证公司,综合指数,19901219,100.00,19920221
2,000003.SH,上证B指,SSE,中证公司,综合指数,19920221,100.00,19920221
3,000004.SH,上证工业类指数,SSE,中证公司,综合指数,19930430,1358.78,19930503
4,000005.SH,上证商业类指数,SSE,中证公司,综合指数,19930430,1358.78,19930503

指数信息

In [24]:
pro.index_daily(ts_code='000001.SH').head()

,ts_code,trade_date,close,open,high,low,pre_close,change,pct_chg,vol,amount
0,000001.SH,20200228,2880.3038,2924.6407,2948.1261,2878.5443,2991.3288,-111.0250,-3.7116,401216914.0,432657775.0
1,000001.SH,20200227,2991.3288,2992.4919,3009.4575,2980.4774,2987.9287,3.4001,0.1138,350523658.0,395955641.5
2,000001.SH,20200226,2987.9287,2978.4195,3028.7788,2974.9423,3013.0501,-25.1214,-0.8338,469049552.0,495341447.3
3,000001.SH,20200225,3013.0501,2982.0696,3016.9458,2943.7168,3031.2333,-18.1832,-0.5999,441622762.0,513128644.6
4,000001.SH,20200224,3031.2333,3027.8925,3042.1821,3007.3557,3039.6692,-8.4359,-0.2775,370430044.0,451601363.1

### 获取股票

指定好交易所ID

In [27]:
pro.stock_basic(exchange_id='SSE').head()

     ts_code  symbol  name area industry market list_date
0  000001.SZ  000001  平安银行   深圳       银行     主板  19910403
1  000002.SZ  000002   万科A   深圳     全国地产     主板  19910129
2  000004.SZ  000004  国农科技   深圳     生物制药     主板  19910114
3  000005.SZ  000005  世纪星源   深圳     环境保护     主板  19901210
4  000006.SZ  000006  深振业A   深圳     区域地产     主板  19920427

获取行情数据

In [32]:
df = pro.daily(ts_code='000001.SZ', start_date='20200220', end_date='20200229')
df

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,000001.SZ,20200228,14.85,15.04,14.46,14.50,15.11,-0.61,-4.0371,1300644.45,1906892.413
1,000001.SZ,20200227,14.96,15.15,14.89,15.11,14.99,0.12,0.8005,975270.90,1464605.739
2,000001.SZ,20200226,14.77,15.27,14.70,14.99,15.04,-0.05,-0.3324,1176599.15,1769612.245
3,000001.SZ,20200225,15.00,15.13,14.78,15.04,15.23,-0.19,-1.2475,1144575.02,1710369.786
4,000001.SZ,20200224,15.46,15.46,15.15,15.23,15.58,-0.35,-2.2465,1191794.50,1820183.854
5,000001.SZ,20200221,15.49,15.72,15.45,15.58,15.59,-0.01,-0.0641,995071.02,1546692.930
6,000001.SZ,20200220,15.27,15.62,15.10,15.59,15.24,0.35,2.2966,1235444.34,1897923.029

In [33]:
df.to_csv('平安银行.csv')